body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f6fbff;
  color: #333;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}